{% extends 'ubs/base.html' %}

{% block titulo %}Detalhes do Grupo{% endblock %}

{% block corpo %}
<h2>Grupo Vulnerável</h2>

<p><strong>Nome:</strong> {{ grupo.get_nome_grupo_display }}</p>
<p><strong>Peso:</strong> {{ grupo.peso_prioridade }}</p>
<p><strong>Descrição:</strong> {{ grupo.descricao }}</p>

<a href="{% url 'update_grupo' grupo.id %}"> <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
        ">
            Editar
        </button>
    </a>
{% endblock %}