{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Grupos Vulneráveis{% endblock %}

{% block corpo %}
<h2>Lista de Grupos Vulneráveis</h2>

{% if grupos %}
    <ul>
        {% for grupo in grupos %}
            <li>
                <a href="{% url 'detail_grupo' grupo.id %}">
                    {{ grupo }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum grupo vulnerável encontrado.</p>
{% endif %}

<hr>

<a href="{% url 'create_grupo' %}">
    <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Grupo
    </button>
</a>

{% endblock %}
