{% extends 'ubs/base.html' %}

{% block titulo %}Detalhes do Endereço{% endblock %}

{% block corpo %}
    <h2>Endereço</h2>

    <p><strong>CEP:</strong> {{ address.cep }}</p>
    <p><strong>Estado:</strong> {{ address.state }}</p>
    <p><strong>Cidade:</strong> {{ address.city }}</p>
    <p><strong>Bairro:</strong> {{ address.neigh }}</p>
    <p><strong>Rua:</strong> {{ address.street }}</p>
    <p><strong>Número:</strong> {{ address.number }}</p>

<a href="{% url 'update_address' address.id %}">
    <button style="padding: 10px; background-color: rgb(30, 51, 239); color: white; border: none; border-radius: 5px;">
            Editar Endereço
    </button>
</a>
{% endblock %}