{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Agendamento{% endblock %}

{% block corpo %}
    <h2>Lista de Agendamento</h2>

    {% if agendamentos %}
        <ul>
            {% for agendamento in agendamentos %}
                <li>
                    <a href="{% url 'detail_agendamento' agendamento.id %}">
                        {{ agendamento }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhum agendamento encontrado.</p>
    {% endif %}

    <hr>

    <a href="{% url 'create_agendamento' %}" >
       <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Agendamento
        </button>
    </a>

{% endblock %}
