{% extends 'ubs/base.html' %}

{% block titulo %}Detalhes do Enfermeiro{% endblock %}

{% block corpo %}
<h2>Enfermeiro</h2>

<p><strong>Nome:</strong> {{ enfermeiro.nome_pessoa }}</p>
<p><strong>CIP:</strong> {{ enfermeiro.cip }}</p>

<a href="{% url 'update_enfermeiro' enfermeiro.id %}"> <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
        ">
            Editar
        </button></a>
{% endblock %}