{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Consulta{% endblock %}

{% block corpo %}
<h2>Lista de Consulta</h2>

{% if appointments %}
    <ul>
        {% for appointment in appointments %}
            <li>
                <a href="{% url 'detail_appointment' appointment.id %}">
                    {{ appointment }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhuma consulta encontrada.</p>
{% endif %}

<hr>

<a href="{% url 'create_appointment' %}">
    <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Consulta
    </button>
</a>

{% endblock %}
