{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Documentos{% endblock %}

{% block corpo %}
<h2>Lista de Documentos</h2>

{% if documentos %}
    <ul>
        {% for documento in documentos %}
            <li>
                <a href="{% url 'detail_documento' documento.id %}">
                    {{ documento }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum documento encontrado.</p>
{% endif %}

<hr>

<a href="{% url 'create_documento' %}">
    <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Documento
    </button>
</a>

{% endblock %}
