{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Email{% endblock %}

{% block corpo %}
<h2>Lista de Email</h2>

{% if emails %}
    <ul>
        {% for email in emails %}
            <li>
                <a href="{% url 'detail_email' email.id %}">
                    {{ email }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum email encontrado.</p>
{% endif %}

<hr>

<a href="{% url 'create_email' %}">
    <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Email
    </button>
</a>

{% endblock %}

