{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Anamnese{% endblock %}

{% block corpo %}
    <h2>Lista de Anamnese</h2>

    {% if anamneses %}
        <ul>
            {% for anam in anamneses %}
                <li>
                    <a href="{% url 'detail_anamnese' anam.id %}">
                        {{ anam }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Nenhuma anamnese encontrada.</p>
    {% endif %}

    <hr>

    <a href="{% url 'create_anamnese' %}" >
    <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Nova Anamnese
    </button>
    </a>

{% endblock %}