{% extends 'ubs/base.html' %}

{% block titulo %}Detalhes da Pessoa{% endblock %}

{% block corpo %}
<h2>Pessoa</h2>

<p><strong>Nome:</strong> {{ obj.nome_pessoa }}</p>
<p><strong>Estado Civil:</strong> {{ obj.get_estado_civil_display }}</p>
<p><strong>UBS:</strong> {{ obj.ubs }}</p>

<a href="{% url 'update_pessoa' obj.id %}">
     <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
        ">
            Editar
        </button>
</a> |

{% endblock %}
