{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Fila{% endblock %}

{% block corpo %}
<h2>Lista de Fila</h2>

{% if filas %}
    <ul>
        {% for fila in filas %}
            <li>
                <a href="{% url 'detail_fila' fila.id %}">
                    {{ fila }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhuma fila encontrada.</p>
{% endif %}

<hr>

<a href="{% url 'create_fila' %}">
    <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Fila
    </button>
</a>

{% endblock %}
