{% extends 'ubs/base.html' %}

{% block titulo %}Home{% endblock %}

{% block corpo %}
    <h1>Admin UBS</h1>

    <h3>Cadastros</h3>
    <ul>
        <li><a href="{% url 'list_pessoa' %}">Pessoas</a></li>
        <li><a href="{% url 'list_cidadao' %}">Cidadãos</a></li>
        <li><a href="{% url 'list_medico' %}">Médicos</a></li>
        <li><a href="{% url 'list_enfermeiro' %}">Enfermeiros</a></li>
        <li><a href="{% url 'list_ubs' %}">UBS</a></li>
    </ul>

    <h3>Atendimento</h3>
    <ul>
        <li><a href="{% url 'list_appointment' %}">Consultas</a></li>
        <li><a href="{% url 'list_agendamento' %}">Agendamentos</a></li>
        <li><a href="{% url 'list_fila' %}">Fila</a></li>
    </ul>

    <h3>Saúde</h3>
    <ul>
        <li><a href="{% url 'list_exam' %}">Exames</a></li>
        <li><a href="{% url 'list_vaccine' %}">Vacinas</a></li>
        <li><a href="{% url 'list_medication' %}">Medicamentos</a></li>
    </ul>

    <h3>Outros</h3>
    <ul>
        <li><a href="{% url 'list_email' %}">Emails</a></li>
        <li><a href="{% url 'list_documento' %}">Documentos</a></li>
        <li><a href="{% url 'list_dependente' %}">Dependentes</a></li>
        <li><a href="{% url 'list_address' %}">Endereços</a></li>
    </ul>
{% endblock %}