{% extends 'ubs/base.html' %}

{% block titulo %}Detalhes do Médico{% endblock %}

{% block corpo %}
<h2>Médico</h2>

<p><strong>Nome:</strong> {{ medico.nome_pessoa }}</p>
<p><strong>CRM:</strong> {{ medico.crm }}</p>
<p><strong>Especialidade:</strong> {{ medico.especialidade }}</p>

<a href="{% url 'update_medico' medico.id %}">
     <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
        ">
            Editar
        </button>
</a>
{% endblock %}