{% extends 'ubs/base.html' %}

{% block titulo %}Lista de Médicos{% endblock %}

{% block corpo %}
<h2>Lista de Médicos</h2>

{% if medicos %}
    <ul>
        {% for medico in medicos %}
            <li>
                <a href="{% url 'detail_medico' medico.id %}">
                    {{ medico }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Nenhum médico encontrado.</p>
{% endif %} 


<hr>

<a href="{% url 'create_medico' %}">
    <button style="
        padding: 10px;
        background-color: rgb(30, 51, 239);
        color: white;
        border: none;
        border-radius: 5px;
    ">
        Adicionar Médico
    </button>
</a>

{% endblock %}
